<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <a href="/profiles/<%= profile._id %>">Back to Profile</a>

  <h1>Favorite Resorts🗻</h1>
  <div>
    <% if (resorts && resorts.length > 0) { %>
      <% resorts.forEach(resort => { %>
        <% resort.favoriteResorts.forEach(favoriteResort => { %>
          <div>
            <p>Resort: <%= resort.name %></p>
            <p>Location: <%= resort.location %></p>
            <form 
              action="/profiles/<%= profile._id%>/favoriteResorts<%= favoriteResort._id %>?_method=DELETE" 
              method="POST"
              class="inline"
              >
              <button class="btn" type="submit">Delete Resort</button>
            </form>
          </div>
        <% }) %>
      <% }) %>
    <% } else { %>
      <p>No favorite resorts</p>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>