<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/reviews.css">

<nav>
  <div class="top-bar">
    <div class="logo">pd.</div>
    <div class="menu">
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/resorts" class=<%= title === 'Powder Peak' ? 'active' : '' %>>resorts</a>
        </li>
        <li>
          <% if (user && user.profile) { %>
            <a href="/profiles/<%= user.profile._id %>">profile</a>
          <% } %>          
        </li>
        <li>
          <% if (user) { %>
            <a href="/auth/logout" class="right">Logout
            </a>
          <% } else { %>
            <div class="google-login">
              <div 
                id="g_id_onload"
                data-client_id="<%= googleClientID %>"
                data-login_uri="/auth/google"
                data-auto_prompt="false"
                data-prompt_parent_id="g_id_onload"
                data-login_hint=""
              ></div>
              <div 
                id="google-signin-button"
                class="g_id_signin right"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left"
              ></div>
            </div>
          <% } %>
        </li>
        <div class="line"></div>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="go-back">
    <a href="/profiles/<%= profile._id %>">
      <div id="arrow">
        <img id="arrow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAPBJREFUaEPtmFEKwzAMQ9WbbSfbdrMdbQSWn8JGbcs2BvWrH3bQk1JS58Dw5xiuHwLoTlAJKIGgA9pCQQPD7UogbGFwASVgMPAG4G2ov1RalcATwAPAC8B6pz0VAFv8Fk2FyAY4i98Qd9Z2ygT4JX5EAiXiV5wZCZSJzwAoFc8GKBfPBGgRzwJoE88AaBUvgO+x2poC6xxog2ABrDBaIJgALRBsgHKIDIBSiCyAMohMgH8QIwaaPX2NHinPENRpjPErYbldGH2tYgE11WZ/xCYxnmIBeFxj9igBppuetZSAxzVmjxJguulZSwl4XGP2fADpLS4xYqF4ZwAAAABJRU5ErkJggg=="/>
      </div>
      <p>GO BACK</p>
    </a>
  </div>

  <h1>Reviews</h1>
  <div class="review-container">
    <% if (resorts && resorts.length > 0) { %>
      <% resorts.forEach(resort => { %>
        <% if (resort.reviews && resort.reviews.length > 0) { %>
          <% resort.reviews.forEach(review => { %>
            <div class="review">
              <p>Resort: <%= resort.name %></p>
              <p>Content: <%= review.content %></p>
              <p>Rating: <%= review.rating %></p>
            </div>
          <% }) %>
        <% } else { %>
          <p id="no-reviews">No reviews found for <%= resort.name %></p>
        <% } %>
      <% }) %>
    <% } else { %>
      <p>No resorts found</p>
    <% } %>   
  </div>
</main>

<%- include('../partials/footer') %>
