<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/resorts/new.css" />
<%# include('../partials/nav') %>

<nav>
  <div class="top-bar">
    <div class="logo">pd.</div>
    <div class="menu">
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/resorts" class=<%= title === 'Powder Peak' ? 'active' : '' %>>resorts</a>
        </li>
        <li>
          <% if (user && user.profile) { %>
            <a href="/profiles/<%= user.profile._id %>">profile</a>
          <% } %>          
          <!-- <a href="/profiles">profile</a> -->
        </li>
        <li>
          <% if (user) { %>
            <a href="/auth/logout" class="right">Logout
              <!-- <button type="submit">Logout</button> -->
            </a>
          <% } else { %>
            <div class="google-login">
              <div 
                id="g_id_onload"
                data-client_id="<%= googleClientID %>"
                data-login_uri="/auth/google"
                data-auto_prompt="false"
                data-prompt_parent_id="g_id_onload"
                data-login_hint=""
              ></div>
              <div 
                id="google-signin-button"
                class="g_id_signin right"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left"
              ></div>
            </div>
          <% } %>
        </li>
        <div class="line"></div>
      </ul>
    </div>
  </div>
</nav>

<div class="form-container">
  <div class="add-new-resort-form">
    <a href="/resorts"> 
      <img id="arrow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAPBJREFUaEPtmFEKwzAMQ9WbbSfbdrMdbQSWn8JGbcs2BvWrH3bQk1JS58Dw5xiuHwLoTlAJKIGgA9pCQQPD7UogbGFwASVgMPAG4G2ov1RalcATwAPAC8B6pz0VAFv8Fk2FyAY4i98Qd9Z2ygT4JX5EAiXiV5wZCZSJzwAoFc8GKBfPBGgRzwJoE88AaBUvgO+x2poC6xxog2ABrDBaIJgALRBsgHKIDIBSiCyAMohMgH8QIwaaPX2NHinPENRpjPErYbldGH2tYgE11WZ/xCYxnmIBeFxj9igBppuetZSAxzVmjxJguulZSwl4XGP2fADpLS4xYqF4ZwAAAABJRU5ErkJggg=="/>
    </a>
    <div class="add-new-resort-form-items">
      <% if (user) { %>
        <form 
          action="/resorts/<%= resort._id %>/reviews/<%= review._id %>?_method=PUT"
          method="POST"
        >
          <h1 id="edit-review-heading">Edit your review</h1>
          <div class="form-item">
            <div class="label">Content:</div>
              <textarea
                cols="30"
                rows="5" 
                type="text"
                name="content" 
                autocomplete="off"
                required
              ><%= review.content %></textarea>
          </div>
          <div class="form-item">
            <div class="label">Rating:</div>
            <select name="rating" id="rating-select">
              <option class="rating-select-items" value="1">1</option>
              <option class="rating-select-items" value="2">2</option>
              <option class="rating-select-items" value="3">3</option>
              <option class="rating-select-items" value="4">4</option>
              <option class="rating-select-items" value="5" selected>5</option>
            </select>
          </div>
          <button type="submit" id="save-btn">Save</button>
        </form>
      <% } %>
    </div>
  </div>
</div>


<!-- <section>
  <h1>Edit your review!</h1>
  <form 
    action="/resorts/<%= resort._id %>/reviews/<%= review._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Content: 
      <textarea
        cols="30"
        rows="5" 
        type="text"
        name="content" 
        autocomplete="off"
      ><%= review.content %></textarea>
    </label>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button type="submit">Update Review</button>
  </form>
</section> -->

<%- include('../partials/footer') %>