<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>All Resorts🗻</h1>
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Resort List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Difficulty Level</th>
        <th>Amenities</th>
      </tr>
    </thead>
    <tbody>
      <% resorts.forEach(resort => { %>
        <tr>
          <td> <a href="/resorts/<%= resort._id %>">
            <%= resort.name %>
          </a></td>
          <td><%= resort.location %></td>
          <td><%= resort.difficultyLevel %></td>
          <td><%= resort.amenities.join(', ') %></td> 
        </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<section>
  <% if (user) { %>
    <h2>Add a Resort!</h2>
    <form action="/resorts" method="POST" id="new-form">
      <label for="name-input">
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label for="location-input">
        Location:
        <input type="text" name="location">
      </label>
      <label for="difficultyLevel-input">
        Difficulty Level:
        <input type="text" name="difficultyLevel">
      </label>
      <label for="amenities-input">
        Amenities:
        <input type="text" name="amenities">
      </label>
      <button type="submit">Add 🗻</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>