<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/movies/show.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Name: </div>
    <div><%= resort.name %></div>
    <div>Location: </div>
    <div><%= resort.location %></div>
    <div>Difficulty Level: </div>
    <div><%= resort.difficultyLevel %></div>
    <div>Amenities: </div>
    <div><%= resort.amenities.join(', ') %></div>
  </section>
  <section>
    <a href="/resorts/<%= resort._id %>/edit">
      <button>Edit Resort</button>
    </a>
    <form 
    action="/resorts/<%= resort._id %>?_method=DELETE" 
    method="POST"
    >
    <button type="submit">Delete Resort</button>
  </form>
  </section>
</main>
  
<%- include('../partials/footer') %>